body {
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
    color: #000;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #333;
}

p {
    font-size: 20px;
}

a {
    color: rgb(255, 0, 0);
}

a::after {
    color: rgb(255, 230, 0);
}