body {
    background-color: #111;
    padding: 5px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
    color: #eee;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #aaa;
}

p {
    text-indent: 16px;
    text-align: justify;
    font-size: 20px;
    color: #000;
    background-color: azure;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

a:visited {
    color: rgb(255, 230, 0);
}